@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #B9BBBA, #A69F94);
    }
    
    
    section#container {
        width: 80vw;

    }

    section#container > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#container > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #B9BBBA, #A69F94);
    }

    
    section#container {
        width: 950px;
    }
    
    section#container > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#container > div#form {
        float: right;
        width: 50%;
    }


}
    
